.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #2d2d36;
    background-color: #821709;
}
#Logo{
    height: 15px;
    width: 15px;
}